.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
out/**
!out/extension.js
!out/**/*.js
node_modules/**
.eslintrc.json
.gitattributes
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!resources/**
backup-session.json
*.vsix
PLAN.md
CONTRIBUTING.md
